OS_AUTH_URL=
OS_APPLICATION_CREDENTIAL_ID=
OS_APPLICATION_CREDENTIAL_SECRET=
OS_REGION_NAME=RegionOne
OS_INTERFACE=internal
OS_IDENTITY_API_VERSION=3

MYSQL_HOST=
MYSQL_PORT=3306
MYSQL_DATABASE=openstack_inventory
MYSQL_USERNAME=
MYSQL_PASSWORD=
MYSQL_CHARSET=utf8mb4
MYSQL_POOL_SIZE=5
MYSQL_MAX_OVERFLOW=10
MYSQL_POOL_RECYCLE=1800

LOG_LEVEL=INFO
