[Unit]
Description=OpenStack Inventory Sync
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
EnvironmentFile=/etc/openstack-inventory-sync/openstack-inventory-sync.env
WorkingDirectory=/opt/openstack-inventory-sync
ExecStart=/opt/openstack-inventory-sync/.venv/bin/openstack-inventory-sync sync
User=openstack-inventory-sync
Group=openstack-inventory-sync
NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=strict
ProtectHome=true
ReadWritePaths=/var/log/openstack-inventory-sync

[Install]
WantedBy=multi-user.target
